In [1]:
import pandas as pd

data = [
    ['a1', 'b1', 'c1', 1/8],
    ['a1', 'b1', 'c2', 1/8],
    ['a1', 'b2', 'c1', 1/8],
    ['a1', 'b2', 'c2', 1/8],
    ['a2', 'b1', 'c1', 1/8],
    ['a2', 'b1', 'c2', 1/8],
    ['a2', 'b2', 'c1', 1/8],
    ['a2', 'b2', 'c2', 1/8],
]

df = pd.DataFrame(data, columns=['A', 'B', 'C', 'value'])
df.set_index(list(df.columns[0:-1]))

          value
A  B  C
a1 b1 c1  0.125
      c2  0.125
   b2 c1  0.125
      c2  0.125
a2 b1 c1  0.125
      c2  0.125
   b2 c1  0.125
      c2  0.125

In [2]:
df[df.A == 'a1'].value.sum() / df.value.sum()

0.5

In [7]:
df.groupby(['A', 'B']).sum()

       value
A  B
a1 b1   0.25
   b2   0.25
a2 b1   0.25
   b2   0.25

In [17]:
actual = df.groupby(['A']).sum()
actual

    value
A
a1    0.5
a2    0.5

In [16]:
expected = pd.DataFrame([
    ['a1', 0.5],
    ['a2', 0.5]
], columns=['A', 'value'])
expected

    A  value
0  a1    0.5
1  a2    0.5

In [21]:
expected.set_index('A').equals(actual)

True

In [75]:
a = df[(df.A=='a1') & (df.B=='b1')].copy()
total = a.value.sum()

a.value = a.value / total
a

    A   B   C  value
0  a1  b1  c1    0.5
1  a1  b1  c2    0.5

In [105]:
class RandomVariable(object):

    def __init__(self, name):
        self.name = name

    def __eq__(self, other):
        if type(other) == RandomVariable:
            return self.name == other.name
        else:
            return RandomVariableEvent(self, other)

    def __repr__(self):
        return self.name

    def __or__(self, other):
        #print('casados')
        #print(self, other)
        pass
        
    def __bool__(self):
        print(self, 'asd')
        return False

X = RandomVariable('X')
Y = RandomVariable('Y')

#X | Y
X xor Y

SyntaxError: invalid syntax (<ipython-input-105-b22d23a62ad2>, line 28)

In [114]:
d = df[(df.A=='a1') & (df.B=='b1')]
d.to_panel()

NotImplementedError: Only 2-level MultiIndex are supported.

In [131]:
from typing import overload

class Test:
    
    @overload
    def test(self: Test, name: str):
        print('string', name)
        
    @overload
    def test(self: Test, name: int):
        print('int', name)
        
    def test(self, name):
        print('default', name)
  
@overload
def test(name: str) -> None:
    print('string', name)

@overload
def test(name: int) -> None:
    print('int', name)

def test(name):
    print('default', name)

test('casa')
test(3)
test(None)

t = Test()
t.test('casa')
t.test(3)
t.test(None)

default casa
default 3
default None
default casa
default 3
default None

In [138]:
@overload
def utf8(value: None) -> None:
    pass
@overload
def utf8(value: bytes) -> bytes:
    pass
@overload
def utf8(value: int) -> bytes:
    pass

def utf8(value):
    print(value)

utf8(None)

None

In [164]:
from collections import Counter

c = Counter(dog=3, cat=4)

[[key, c[key]] for key in c]

[['cat', 4], ['dog', 3]]

In [168]:
df.keys()
df.max()

A           a2
B           b2
C           c2
value    0.125
dtype: object